<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Thanks for signup, <%= @subscriptor.name %></h1>
    <p>
    En las plantas existen dos sistemas de transporte: el xilema que transporta agua y minerales y
el floema, que transporta solutos producto de la fotosíntesis en dirección acrópeta (ápice) y
basípeta (base).
Por su importancia, el sistema vascular y el xilema en particular, han sido usados en la
denominación de un grupo de plantas. Así el nombre de “plantas vasculares” fue utilizado por
Jeffrey en 1897 y posteriormente con el nombre de “traqueófitas”, que alude a la presencia de
xilema se han agrupado a Pteridofitas y Espermatófitas.
</p>
</body>
</html>